<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkMonit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WorkMonit.Properties.Settings>
            <setting name="SilentMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DetectHomeOffice" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="TimeWorkBegin" serializeAs="String">
                <value>01/26/2017 07:55:00</value>
            </setting>
            <setting name="TimeWorkEnd" serializeAs="String">
                <value>01/26/2017 17:00:00</value>
            </setting>
            <setting name="HOWorkBegin" serializeAs="String">
                <value>01/26/2017 11:00:00</value>
            </setting>
            <setting name="HOWorkEnd" serializeAs="String">
                <value>01/26/2017 15:00:00</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="Signature" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="WrokStartHeader" serializeAs="String">
                <value>Start</value>
            </setting>
            <setting name="WorkStartBody" serializeAs="String">
                <value>I start work</value>
            </setting>
            <setting name="WorkStopHeader" serializeAs="String">
                <value>Stop</value>
            </setting>
            <setting name="WorkStopBody" serializeAs="String">
                <value>I stop work</value>
            </setting>
            <setting name="HomeWorkStartHeader" serializeAs="String">
                <value>Start HO</value>
            </setting>
            <setting name="HomeWorkStartBody" serializeAs="String">
                <value>I start home office</value>
            </setting>
            <setting name="HomeWorkStopHeader" serializeAs="String">
                <value>Stop HO</value>
            </setting>
            <setting name="HomeWorkStopBody" serializeAs="String">
                <value>I stop home office</value>
            </setting>
            <setting name="MailHeader" serializeAs="String">
                <value>Dear,</value>
            </setting>
            <setting name="MailPrompt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoHomeWork" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnTimeSend" serializeAs="String">
                <value />
            </setting>
            <setting name="OnTimeSendType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OnWorkBeginTime" serializeAs="String">
                <value />
            </setting>
        </WorkMonit.Properties.Settings>
    </userSettings>
</configuration>